<div class="flex flex-col items-center my-8">
    <h1 class="text-3xl font-medium my-8 md:my-16">{{ section.settings.page-title }}</h1>
    <div class="max-w-6xl mx-auto px-4">{{ page.content }}</div>
</div>


{% schema %}
{
    "name": "Page",
    "settings": [
        {
            "type": "text",
            "id": "page-title",
            "label": "Page Title",
            "default": "Page Title"
        }
        ]
}
{% endschema %}