<div class="max-w-6xl mx-auto px-4 py-12">
    <div class="flex flex-col md:flex-row items-center justify-between my-5 gap-4">
        <h1 class="text-2xl font-bold text-gray-700">Addresses</h1>
        <button type="button" class="text-white font-medium bg-gray-700 hover:bg-gray-900 px-6 py-2">Create New Address</button>
        <a href="{{ routes.account_url }}" class="text-blue-600 hover:text-blue-800 font-medium underline">Back to Account</a>

    </div>
</div>