<div class="h-full flex items-center justify-center py-12 px-6 md:px-4 lg:px-8">
    <div id="form-login" class="max-w-md w-full space-y-8">
        <div>
            <h1 class="text-center text-3xl font-bold mt-6">Sign in to your account</h1>
        </div>
        <div class="mt-8">
            {% form 'customer_login' %}
                {% if form.errors %}
                    <div class="relative border border-red-400 bg-red-100 text-red-700 px-4 py-3" role="alert">
                        <strong class="font-bold">Error!</strong>
                        <p class="block sm:inline">{{ form.errors | default_errors }}</p>
                    </div>
                {% endif %}

                <div class="my-2">
                    <label for="email-address" class="sr-only">Email address</label>
                    <input type="email" name="customer[email]" id="email-address" autocomplete="email" class="relative block w-full px-3 py-2 border" placeholder="Email Address">
                </div>

                {% if form.password_needed %}
                    <div class="my-2">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" name="customer[password]" id="password" autocomplete="current-password" class="relative block w-full px-3 py-2 border" placeholder="Password">
                </div>
                {% endif %}

                <div class="my-2 text-sm">
                    <span id="forgot-password" class="underline text-gray-500 hover:text-gray-900">
                        Forgot your password?
                    </span>
                </div>
                <div>
                    <button type="submit" class="relative w-full py-2 px-4 text-sm font-medium text-white bg-gray-600 hover:bg-gray-900"> Sign In</button>
                    </div>
            {% endform %}
        </div>
    </div>

    <div id="form-recover" class="max-w-md w-full space-y-8" style="display: none">
        <div>
            <h1 class="text-center text-3xl font-bold mt-6">Recover Your Password</h1>
        </div>
        <div class="mt-8">
            {% form 'recover_customer_password' %}
                {% if form.errors %}
                    <div class="relative border border-red-400 bg-red-100 text-red-700 px-4 py-3" role="alert">
                        <strong class="font-bold">Error!</strong>
                        <p class="block sm:inline">{{ form.errors | default_errors }}</p>
                    </div>
                {% endif %}

                <div class="my-2">
                    <label for="email-address" class="sr-only">Email address</label>
                    <input type="email" name="email" id="email" autocomplete="email" class="relative block w-full px-3 py-2 border" placeholder="Email Address">
                </div>

                <div>
                    <button type="submit" class="relative w-full py-2 px-4 text-sm font-medium text-white bg-gray-600 hover:bg-gray-900"> Recover Password</button>
                </div>
                <div class="mt-8 text-sm">
                    <a href="#" id="return-login" class="underline text-gray-500 hover:text-gray-900">
                        Back to login
                    </a>
                </div>
            {% endform %}
        </div>
    </div>
</div>


<script>

    document.getElementById('forgot-password').addEventListener('click', () => {
        document.getElementById('form-recover').style.display = 'block';
        document.getElementById('form-login').style.display = 'none';
        console.log('click ok')
    })
    
    document.getElementById('return-login').addEventListener('click', () => {
        document.getElementById('form-login').style.display = 'block';
        document.getElementById('form-recover').style.display = 'none';
    })

</script>